/*@tailwind preflight;*/

.bg-white {
  background-color: #FFFFFF
}

.bg-red {
  background-color: #E3342F
}

.bg-orange {
  background-color: #F6993F
}

.bg-green {
  background-color: #38C172
}

.bg-blue {
  background-color: #3490DC
}

.bg-pink {
  background-color: #F66D9B
}

.bg-grey-dark {
  background-color: #8795A1
}

.bg-yellow-dark {
  background-color: #F2D024
}

.bg-yellow-lightest {
  background-color: #FCFBEB
}

.border-yellow-dark {
  border-color: #F2D024
}

.rounded-4 {
  border-radius: .4rem
}

.rounded-6 {
  border-radius: .6rem
}

.rounded-8 {
  border-radius: .8rem
}

.rounded-24 {
  border-radius: 2.4rem
}

.rounded-none {
  border-radius: 0
}

.rounded-sm {
  border-radius: .2rem
}

.rounded {
  border-radius: .4rem
}

.rounded-lg {
  border-radius: .8rem
}

.rounded-full {
  border-radius: 9999px
}

.border-solid {
  border-style: solid
}

.border-0 {
  border-width: 0
}

.border-1 {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-t-1 {
  border-top-width: 1px
}

.border-r-1 {
  border-right-width: 1px
}

.border-b-1 {
  border-bottom-width: 1px
}

.cursor-pointer {
  cursor: pointer
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: -webkit-flex;
  display: flex
}

.inline-flex {
  display: -webkit-inline-flex;
  display: inline-flex
}

.table {
  display: table
}

.hidden {
  display: none
}

.flex-row {
  -webkit-flex-direction: row;
          flex-direction: row
}

.flex-row-reverse {
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse
}

.flex-col {
  -webkit-flex-direction: column;
          flex-direction: column
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap
}

.items-start {
  -webkit-align-items: flex-start;
          align-items: flex-start
}

.items-end {
  -webkit-align-items: flex-end;
          align-items: flex-end
}

.items-center {
  -webkit-align-items: center;
          align-items: center
}

.justify-start {
  -webkit-justify-content: flex-start;
          justify-content: flex-start
}

.justify-end {
  -webkit-justify-content: flex-end;
          justify-content: flex-end
}

.justify-center {
  -webkit-justify-content: center;
          justify-content: center
}

.justify-between {
  -webkit-justify-content: space-between;
          justify-content: space-between
}

.flex-1 {
  -webkit-flex: 1 1 0%;
          flex: 1 1 0%
}

.flex-auto {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto
}

.flex-grow-0 {
  -webkit-flex-grow: 0;
          flex-grow: 0
}

.flex-grow {
  -webkit-flex-grow: 1;
          flex-grow: 1
}

.flex-shrink-0 {
  -webkit-flex-shrink: 0;
          flex-shrink: 0
}

.flex-shrink {
  -webkit-flex-shrink: 1;
          flex-shrink: 1
}

.font-300 {
  font-weight: 300
}

.font-500 {
  font-weight: 500
}

.font-600 {
  font-weight: 600
}

.font-light {
  font-weight: 300
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.h-6 {
  height: 0.6rem
}

.h-8 {
  height: 0.8rem
}

.h-16 {
  height: 1.6rem
}

.h-24 {
  height: 2.4rem
}

.h-32 {
  height: 3.2rem
}

.h-40 {
  height: 4rem
}

.h-44 {
  height: 4.4rem
}

.h-48 {
  height: 4.8rem
}

.h-52 {
  height: 5.2rem
}

.h-56 {
  height: 5.6rem
}

.h-64 {
  height: 6.4rem
}

.h-72 {
  height: 7.2rem
}

.h-96 {
  height: 9.6rem
}

.h-128 {
  height: 12.8rem
}

.h-160 {
  height: 16rem
}

.h-200 {
  height: 20rem
}

.h-224 {
  height: 22.4rem
}

.h-400 {
  height: 40rem
}

.h-512 {
  height: 51.2rem
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.leading-none {
  line-height: 1
}

.leading-tight {
  line-height: 1.25
}

.m-0 {
  margin: 0
}

.m-4 {
  margin: 0.4rem
}

.m-5 {
  margin: 1.25rem
}

.m-8 {
  margin: 0.8rem
}

.m-12 {
  margin: 1.2rem
}

.m-16 {
  margin: 1.6rem
}

.m-24 {
  margin: 2.4rem
}

.m-32 {
  margin: 3.2rem
}

.-m-4 {
  margin: -0.4rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-4 {
  margin-left: 0.4rem;
  margin-right: 0.4rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-8 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem
}

.mx-8 {
  margin-left: 0.8rem;
  margin-right: 0.8rem
}

.my-16 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem
}

.mx-16 {
  margin-left: 1.6rem;
  margin-right: 1.6rem
}

.mx-20 {
  margin-left: 2rem;
  margin-right: 2rem
}

.my-24 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem
}

.mx-24 {
  margin-left: 2.4rem;
  margin-right: 2.4rem
}

.my-32 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem
}

.my-48 {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem
}

.mx-48 {
  margin-left: 4.8rem;
  margin-right: 4.8rem
}

.my-128 {
  margin-top: 12.8rem;
  margin-bottom: 12.8rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-0 {
  margin-top: 0
}

.mr-0 {
  margin-right: 0
}

.mb-0 {
  margin-bottom: 0
}

.mt-1 {
  margin-top: 0.25rem
}

.ml-1 {
  margin-left: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 0.4rem
}

.mr-4 {
  margin-right: 0.4rem
}

.mb-4 {
  margin-bottom: 0.4rem
}

.ml-4 {
  margin-left: 0.4rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mr-5 {
  margin-right: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-5 {
  margin-left: 1.25rem
}

.mr-6 {
  margin-right: 0.6rem
}

.mb-6 {
  margin-bottom: 0.6rem
}

.mt-8 {
  margin-top: 0.8rem
}

.mr-8 {
  margin-right: 0.8rem
}

.mb-8 {
  margin-bottom: 0.8rem
}

.ml-8 {
  margin-left: 0.8rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.ml-10 {
  margin-left: 2.5rem
}

.mt-12 {
  margin-top: 1.2rem
}

.mr-12 {
  margin-right: 1.2rem
}

.mb-12 {
  margin-bottom: 1.2rem
}

.ml-12 {
  margin-left: 1.2rem
}

.mt-16 {
  margin-top: 1.6rem
}

.mr-16 {
  margin-right: 1.6rem
}

.mb-16 {
  margin-bottom: 1.6rem
}

.ml-16 {
  margin-left: 1.6rem
}

.mt-20 {
  margin-top: 2rem
}

.mb-20 {
  margin-bottom: 2rem
}

.ml-20 {
  margin-left: 2rem
}

.mt-24 {
  margin-top: 2.4rem
}

.mr-24 {
  margin-right: 2.4rem
}

.mb-24 {
  margin-bottom: 2.4rem
}

.mb-28 {
  margin-bottom: 2.8rem
}

.mt-32 {
  margin-top: 3.2rem
}

.mb-32 {
  margin-bottom: 3.2rem
}

.mb-40 {
  margin-bottom: 4rem
}

.mt-44 {
  margin-top: 4.4rem
}

.mt-48 {
  margin-top: 4.8rem
}

.mr-48 {
  margin-right: 4.8rem
}

.mb-48 {
  margin-bottom: 4.8rem
}

.ml-56 {
  margin-left: 5.6rem
}

.mt-64 {
  margin-top: 6.4rem
}

.mb-64 {
  margin-bottom: 6.4rem
}

.mb-80 {
  margin-bottom: 8rem
}

.mt-96 {
  margin-top: 9.6rem
}

.-ml-12 {
  margin-left: -1.2rem
}

.-ml-32 {
  margin-left: -3.2rem
}

.-mt-192 {
  margin-top: -19.2rem
}

.max-h-full {
  max-height: 100%
}

.max-w-160 {
  max-width: 16rem
}

.max-w-288 {
  max-width: 28.8rem
}

.max-w-320 {
  max-width: 32rem
}

.max-w-384 {
  max-width: 38.4rem
}

.max-w-400 {
  max-width: 40rem
}

.max-w-512 {
  max-width: 51.2rem
}

.max-w-sm {
  max-width: 48rem
}

.max-w-md {
  max-width: 64rem
}

.max-w-lg {
  max-width: 80rem
}

.max-w-xl {
  max-width: 96rem
}

.max-w-2xl {
  max-width: 112rem
}

.max-w-full {
  max-width: 100%
}

.min-h-0 {
  min-height: 0
}

.min-h-48 {
  min-height: 4.8rem
}

.min-h-64 {
  min-height: 6.4rem
}

.min-h-72 {
  min-height: 7.2rem
}

.min-h-80 {
  min-height: 8rem
}

.min-h-92 {
  min-height: 9.2rem
}

.min-h-160 {
  min-height: 16rem
}

.min-h-px {
  min-height: 1px
}

.min-w-0 {
  min-width: 0
}

.min-w-24 {
  min-width: 2.4rem
}

.min-w-32 {
  min-width: 3.2rem
}

.min-w-40 {
  min-width: 4rem
}

.min-w-48 {
  min-width: 4.8rem
}

.min-w-64 {
  min-width: 6.4rem
}

.min-w-128 {
  min-width: 12.8rem
}

.min-w-full {
  min-width: 100%
}

.min-w-px {
  min-width: 1px
}

.opacity-50 {
  opacity: 0.5
}

.opacity-75 {
  opacity: 0.75
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-y-hidden {
  overflow-y: hidden
}

.p-0 {
  padding: 0
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 0.4rem
}

.p-5 {
  padding: 1.25rem
}

.p-6 {
  padding: 0.6rem
}

.p-8 {
  padding: 0.8rem
}

.p-12 {
  padding: 1.2rem
}

.p-16 {
  padding: 1.6rem
}

.p-20 {
  padding: 2rem
}

.p-24 {
  padding: 2.4rem
}

.p-32 {
  padding: 3.2rem
}

.p-48 {
  padding: 4.8rem
}

.p-88 {
  padding: 8.8rem
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-4 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem
}

.px-4 {
  padding-left: 0.4rem;
  padding-right: 0.4rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem
}

.px-8 {
  padding-left: 0.8rem;
  padding-right: 0.8rem
}

.py-12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem
}

.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem
}

.py-16 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem
}

.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem
}

.px-20 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem
}

.px-24 {
  padding-left: 2.4rem;
  padding-right: 2.4rem
}

.py-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem
}

.px-32 {
  padding-left: 3.2rem;
  padding-right: 3.2rem
}

.py-96 {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem
}

.pt-0 {
  padding-top: 0
}

.pr-0 {
  padding-right: 0
}

.pb-0 {
  padding-bottom: 0
}

.pl-0 {
  padding-left: 0
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pt-4 {
  padding-top: 0.4rem
}

.pr-4 {
  padding-right: 0.4rem
}

.pb-4 {
  padding-bottom: 0.4rem
}

.pl-4 {
  padding-left: 0.4rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pr-5 {
  padding-right: 1.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-8 {
  padding-top: 0.8rem
}

.pr-8 {
  padding-right: 0.8rem
}

.pb-8 {
  padding-bottom: 0.8rem
}

.pl-8 {
  padding-left: 0.8rem
}

.pr-10 {
  padding-right: 2.5rem
}

.pt-12 {
  padding-top: 1.2rem
}

.pr-12 {
  padding-right: 1.2rem
}

.pb-12 {
  padding-bottom: 1.2rem
}

.pl-12 {
  padding-left: 1.2rem
}

.pt-16 {
  padding-top: 1.6rem
}

.pr-16 {
  padding-right: 1.6rem
}

.pb-16 {
  padding-bottom: 1.6rem
}

.pl-16 {
  padding-left: 1.6rem
}

.pt-20 {
  padding-top: 2rem
}

.pb-20 {
  padding-bottom: 2rem
}

.pl-20 {
  padding-left: 2rem
}

.pt-24 {
  padding-top: 2.4rem
}

.pb-24 {
  padding-bottom: 2.4rem
}

.pl-24 {
  padding-left: 2.4rem
}

.pb-28 {
  padding-bottom: 2.8rem
}

.pt-32 {
  padding-top: 3.2rem
}

.pb-32 {
  padding-bottom: 3.2rem
}

.pb-36 {
  padding-bottom: 3.6rem
}

.pb-40 {
  padding-bottom: 4rem
}

.pl-40 {
  padding-left: 4rem
}

.pt-48 {
  padding-top: 4.8rem
}

.pr-48 {
  padding-right: 4.8rem
}

.pl-56 {
  padding-left: 5.6rem
}

.pt-64 {
  padding-top: 6.4rem
}

.pb-64 {
  padding-bottom: 6.4rem
}

.pl-72 {
  padding-left: 7.2rem
}

.pb-80 {
  padding-bottom: 8rem
}

.pl-80 {
  padding-left: 8rem
}

.pb-96 {
  padding-bottom: 9.6rem
}

.pb-224 {
  padding-bottom: 22.4rem
}

.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: -webkit-sticky;
  position: sticky
}

.inset-x-0 {
  right: 0;
  left: 0
}

.top-0 {
  top: 0
}

.right-0 {
  right: 0
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.resize {
  resize: both
}

.shadow-1 {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12)
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10)
}

.shadow-none {
  box-shadow: none
}

.hover\:shadow-5:hover {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12)
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-black {
  color: #22292F
}

.text-white {
  color: #FFFFFF
}

.text-red {
  color: #E3342F
}

.text-orange {
  color: #F6993F
}

.text-yellow {
  color: #FFED4A
}

.text-green {
  color: #38C172
}

.text-blue {
  color: #3490DC
}

.text-grey-dark {
  color: #8795A1
}

.text-grey {
  color: #B8C2CC
}

.text-red-dark {
  color: #CC1F1A
}

.text-orange-light {
  color: #FAAD63
}

.text-10 {
  font-size: 1rem
}

.text-11 {
  font-size: 1.1rem
}

.text-12 {
  font-size: 1.2rem
}

.text-13 {
  font-size: 1.3rem
}

.text-14 {
  font-size: 1.4rem
}

.text-15 {
  font-size: 1.5rem
}

.text-16 {
  font-size: 1.6rem
}

.text-17 {
  font-size: 1.7rem
}

.text-18 {
  font-size: 1.8rem
}

.text-20 {
  font-size: 2rem
}

.text-24 {
  font-size: 2.4rem
}

.text-32 {
  font-size: 3.2rem
}

.text-36 {
  font-size: 3.6rem
}

.text-40 {
  font-size: 4rem
}

.text-44 {
  font-size: 4.4rem
}

.text-48 {
  font-size: 4.8rem
}

.text-56 {
  font-size: 5.6rem
}

.text-64 {
  font-size: 6.4rem
}

.text-72 {
  font-size: 7.2rem
}

.text-96 {
  font-size: 9.6rem
}

.text-128 {
  font-size: 12.8rem
}

.italic {
  font-style: italic
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.normal-case {
  text-transform: none
}

.underline {
  text-decoration: underline
}

.line-through {
  text-decoration: line-through
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.whitespace-no-wrap {
  white-space: nowrap
}

.whitespace-pre-wrap {
  white-space: pre-wrap
}

.break-all {
  word-break: break-all
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.w-16 {
  width: 1.6rem
}

.w-24 {
  width: 2.4rem
}

.w-32 {
  width: 3.2rem
}

.w-40 {
  width: 4rem
}

.w-48 {
  width: 4.8rem
}

.w-64 {
  width: 6.4rem
}

.w-72 {
  width: 7.2rem
}

.w-80 {
  width: 8rem
}

.w-96 {
  width: 9.6rem
}

.w-128 {
  width: 12.8rem
}

.w-160 {
  width: 16rem
}

.w-192 {
  width: 19.2rem
}

.w-224 {
  width: 22.4rem
}

.w-256 {
  width: 25.6rem
}

.w-288 {
  width: 28.8rem
}

.w-320 {
  width: 32rem
}

.w-auto {
  width: auto
}

.w-px {
  width: 1px
}

.w-xs {
  width: 32rem
}

.w-xl {
  width: 96rem
}

.w-1\/2 {
  width: 50%
}

.w-1\/3 {
  width: 33.33333%
}

.w-1\/4 {
  width: 25%
}

.w-full {
  width: 100%
}

.z-0 {
  z-index: 0
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-9999 {
  z-index: 9999
}

@media (min-width: 600px) {

  .sm\:rounded-8 {
    border-radius: .8rem
  }

  .sm\:rounded-16 {
    border-radius: 1.6rem
  }

  .sm\:flex {
    display: -webkit-flex;
    display: flex
  }

  .sm\:hidden {
    display: none
  }

  .sm\:flex-row {
    -webkit-flex-direction: row;
            flex-direction: row
  }

  .sm\:items-center {
    -webkit-align-items: center;
            align-items: center
  }

  .sm\:justify-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start
  }

  .sm\:justify-between {
    -webkit-justify-content: space-between;
            justify-content: space-between
  }

  .sm\:h-96 {
    height: 9.6rem
  }

  .sm\:h-136 {
    height: 13.6rem
  }

  .sm\:h-256 {
    height: 25.6rem
  }

  .sm\:h-320 {
    height: 32rem
  }

  .sm\:h-360 {
    height: 36rem
  }

  .sm\:mb-0 {
    margin-bottom: 0
  }

  .sm\:mr-8 {
    margin-right: 0.8rem
  }

  .sm\:ml-8 {
    margin-left: 0.8rem
  }

  .sm\:mr-12 {
    margin-right: 1.2rem
  }

  .sm\:mb-12 {
    margin-bottom: 1.2rem
  }

  .sm\:mt-16 {
    margin-top: 1.6rem
  }

  .sm\:mr-16 {
    margin-right: 1.6rem
  }

  .sm\:mr-24 {
    margin-right: 2.4rem
  }

  .sm\:mt-32 {
    margin-top: 3.2rem
  }

  .sm\:mt-88 {
    margin-top: 8.8rem
  }

  .sm\:min-h-136 {
    min-height: 13.6rem
  }

  .sm\:p-8 {
    padding: 0.8rem
  }

  .sm\:p-16 {
    padding: 1.6rem
  }

  .sm\:p-24 {
    padding: 2.4rem
  }

  .sm\:p-32 {
    padding: 3.2rem
  }

  .sm\:p-64 {
    padding: 6.4rem
  }

  .sm\:px-8 {
    padding-left: 0.8rem;
    padding-right: 0.8rem
  }

  .sm\:px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem
  }

  .sm\:px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem
  }

  .sm\:py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem
  }

  .sm\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem
  }

  .sm\:py-32 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem
  }

  .sm\:pt-0 {
    padding-top: 0
  }

  .sm\:pb-16 {
    padding-bottom: 1.6rem
  }

  .sm\:pb-80 {
    padding-bottom: 8rem
  }

  .sm\:text-left {
    text-align: left
  }

  .sm\:text-16 {
    font-size: 1.6rem
  }

  .sm\:text-20 {
    font-size: 2rem
  }

  .sm\:text-40 {
    font-size: 4rem
  }

  .sm\:text-56 {
    font-size: 5.6rem
  }

  .sm\:w-48 {
    width: 4.8rem
  }

  .sm\:w-224 {
    width: 22.4rem
  }

  .sm\:w-320 {
    width: 32rem
  }

  .sm\:w-auto {
    width: auto
  }

  .sm\:w-1\/2 {
    width: 50%
  }

  .sm\:w-1\/3 {
    width: 33.33333%
  }

  .sm\:w-1\/6 {
    width: 16.66667%
  }

  .sm\:w-1\/12 {
    width: 8.33333%
  }

  .sm\:w-2\/12 {
    width: 16.66667%
  }

  .sm\:w-5\/12 {
    width: 41.66667%
  }

  .sm\:w-8\/12 {
    width: 66.66667%
  }

  .sm\:w-full {
    width: 100%
  }
}

@media (min-width: 960px) {

  .md\:flex {
    display: -webkit-flex;
    display: flex
  }

  .md\:hidden {
    display: none
  }

  .md\:flex-row {
    -webkit-flex-direction: row;
            flex-direction: row
  }

  .md\:items-start {
    -webkit-align-items: flex-start;
            align-items: flex-start
  }

  .md\:items-end {
    -webkit-align-items: flex-end;
            align-items: flex-end
  }

  .md\:items-center {
    -webkit-align-items: center;
            align-items: center
  }

  .md\:justify-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start
  }

  .md\:flex-1 {
    -webkit-flex: 1 1 0%;
            flex: 1 1 0%
  }

  .md\:flex-shrink-0 {
    -webkit-flex-shrink: 0;
            flex-shrink: 0
  }

  .md\:m-0 {
    margin: 0
  }

  .md\:ml-24 {
    margin-left: 2.4rem
  }

  .md\:p-0 {
    padding: 0
  }

  .md\:p-16 {
    padding: 1.6rem
  }

  .md\:p-24 {
    padding: 2.4rem
  }

  .md\:p-48 {
    padding: 4.8rem
  }

  .md\:p-128 {
    padding: 12.8rem
  }

  .md\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem
  }

  .md\:pr-32 {
    padding-right: 3.2rem
  }

  .md\:pt-128 {
    padding-top: 12.8rem
  }

  .md\:text-left {
    text-align: left
  }

  .md\:w-320 {
    width: 32rem
  }

  .md\:w-sm {
    width: 48rem
  }

  .md\:w-1\/2 {
    width: 50%
  }

  .md\:w-1\/3 {
    width: 33.33333%
  }

  .md\:w-2\/3 {
    width: 66.66667%
  }

  .md\:w-1\/4 {
    width: 25%
  }

  .md\:w-1\/6 {
    width: 16.66667%
  }

  .md\:w-1\/12 {
    width: 8.33333%
  }

  .md\:w-2\/12 {
    width: 16.66667%
  }

  .md\:w-5\/12 {
    width: 41.66667%
  }

  .md\:w-8\/12 {
    width: 66.66667%
  }

  .md\:w-full {
    width: 100%
  }
}

@media (min-width: 1280px) {

  .lg\:rounded-8 {
    border-radius: .8rem
  }

  .lg\:mx-24 {
    margin-left: 2.4rem;
    margin-right: 2.4rem
  }

  .lg\:p-24 {
    padding: 2.4rem
  }

  .lg\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem
  }

  .lg\:pt-0 {
    padding-top: 0
  }

  .lg\:pr-0 {
    padding-right: 0
  }

  .lg\:pl-0 {
    padding-left: 0
  }

  .lg\:pr-4 {
    padding-right: 0.4rem
  }

  .lg\:pr-8 {
    padding-right: 0.8rem
  }

  .lg\:pl-8 {
    padding-left: 0.8rem
  }

  .lg\:pr-24 {
    padding-right: 2.4rem
  }

  .lg\:pl-24 {
    padding-left: 2.4rem
  }

  .lg\:shadow-1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12)
  }

  .lg\:w-1\/2 {
    width: 50%
  }

  .lg\:w-2\/3 {
    width: 66.66667%
  }
}

@media print {

  .print\:mx-16 {
    margin-left: 1.6rem;
    margin-right: 1.6rem
  }

  .print\:mt-0 {
    margin-top: 0
  }

  .print\:mb-0 {
    margin-bottom: 0
  }

  .print\:mb-12 {
    margin-bottom: 1.2rem
  }

  .print\:p-0 {
    padding: 0
  }

  .print\:p-8 {
    padding: 0.8rem
  }

  .print\:px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem
  }

  .print\:shadow-none {
    box-shadow: none
  }

  .print\:text-16 {
    font-size: 1.6rem
  }

  .print\:w-60 {
    width: 6rem
  }

  .print\:w-full {
    width: 100%
  }
}
