body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w-full{
  width:100%;
}
.w-1\/3{
  width:30%;
}
.w-1\/2{
  width:49%;
}
.MuiFormControl-marginDense{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.MuiInputBase-fullWidth {
    width: 100%;
    height: 33px !important;
}
